# OSX
.DS_Store

# Node
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Metro
.metro-health-check*

# Env files
.env
.env.local
.env.production

# TypeScript
*.tsbuildinfo
