<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Allows connecting to the Metro Bundler in debug mode -->
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
